<tbody>
	<tr>
		<td><%= link_to user_path(book.user_id) do %><%= attachment_image_tag book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %><% end %></td>
		<td><%= link_to book.title, book_path(book.id) %></td>
		<td><%= book.body %></td>
		<%= render 'books/favorite', book: book %>
		<%= render 'books/comment', book: book %>
	</tr>
</tbody>